:root {
    --main-color: #320e3b;
    --second-color: #c4cefd;
    --nav-color: white;
    --paragraph-color: black;
    --paragraph-font: Arial, Helvetica, sans-serif;
  }


header {
  background-color: var(--main-color);
  color: var(--main-color);
  padding: 10px 0;
  text-align: center;
  margin: 0;
}

nav ul {
  display: block;
  justify-content: center;
  list-style: none;
  font-size: 1rem;
  margin-top: 25px;
  margin-bottom: 25px;
}

a {
  display: grid;
  grid-row: 4;
}

nav ul li a { 
  text-align: center;
  color: var(--nav-color);
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  border: solid;
  border-color: var(--main-color);
  margin: 0 15px;
}

ul {
  list-style: none;
}

.navBar:hover {
  border: solid;
  border-radius: 5px;
  text-decoration: none;
}

#menu {
  position: absolute;
  top: 8px;
  right: 16px;
}

#menu::before {
  content: "X";
}

#menu.open::before {
  content: "☰";
}

.heading li {
  display: none;
}

.open li {
  display: block;
}

@media (min-width: 800px) {
  #menu {
    display: none;
  }

  nav {
    display: flex;
    justify-content: center;
    background-color: var(--second-color);
    line-height: 50px;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .heading {
    display: flex;
    justify-content: space-between;
  }

  .heading li {
    display: inline-block;
    margin-right: 20px;
  }
}