img {
  width: 100%;
  height: auto;
}

.container {
  margin: 5%;
}

.search-form {
  max-width: 400px;
  margin: auto;
  height: 40px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.grid-item img {
  object-fit: cover;
  height: 350px;
}

.grid-item .photographer::before {
  font-size: 1.5rem;
}