/* Big Changes */

@media (min-width: 600px) {
  main {
    display: grid;
    grid-template-columns: 25% 75%;
    margin-left: 20px;
  }
  .imageSection {
    grid-column: 2;
  }
  .sideBar {
    grid-column: 1;
  }
  .sidebarTitle {
    text-align: left;
  }
  .sidebarText {
    text-align: left;
  }
}

@media (max-width: 600px) {
  .sidebarTitle {
    text-align: center;
  }
  .sidebarText {
    text-align: center;
  }
}

.joinForm {
  display: grid;
  margin-right: 10%;
  margin-left: 10%;
}

.joinButton {
  margin-bottom: 10%;
  margin-left: 10%;
  margin-top: 20px;
}

.joinTitle {
  margin-top: 50px;
}

/* directory */

#memberContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.grid-view .member {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  background-color: white;
  text-align: center;
}

.list-view {
  display: flex;
  flex-direction: column;
}

.list-view .member {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  background-color: white;
}


a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}