/* discovery */

@media (min-width: 600px) {
  .discoverMain {
    display: grid;
    grid-template-columns: 25% 75%;
    margin-left: 20px;
  }
  .imageSection {
    grid-column: 2;
  }
  .sideBar {
    grid-column: 1;
  }
  .sidebarTitle {
    text-align: left;
  }
  .sidebarText {
    text-align: left;
  }
}

@media (max-width: 600px) {
  .sidebarTitle {
    text-align: center;
  }
  .sidebarText {
    text-align: center;
  }
}

.joinForm {
  display: grid;
  margin-right: 10%;
  margin-left: 10%;
}

.joinButton {
  margin-bottom: 10%;
  margin-left: 10%;
  margin-top: 20px;
}

.joinTitle {
  margin-top: 50px;
}

/* directory */

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 40%;
  background-color: var(--second-color);
  color: var(--text-color);
  padding: 10px 20px;
  text-decoration: none;
  font-family: var(--paragraph-font);
  font-weight: bold;
  font-size: 15px;
  border-radius: 3px;
  border: none;
}

button:hover {
  background-color:#7F96FF;
  color: #ffffff;
}

#memberContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.grid-view .member {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  background-color: white;
  text-align: center;
}

.list-view {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* banner */
.banner {
  background-color: var(--second-color);
  color: white;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;
  display: none;
}

.banner-text {
  font-size: 16px;
  font-weight: bold;
}

.close-btn {
  background: none;
  border: none;
  padding: 0;
  width: 20px;
}