/* Big Changes */

@media (min-width: 600px) {
  main {
    display: grid;
    grid-template-columns: 25% 75%;
    margin-left: 20px;
  }
  .imageSection {
    grid-column: 2;
  }
  .sideBar {
    grid-column: 1;
  }
  .sidebarTitle {
    text-align: left;
  }
  .sidebarText {
    text-align: left;
  }
}

@media (max-width: 600px) {
  .sidebarTitle {
    text-align: center;
  }
  .sidebarText {
    text-align: center;
  }
}

.joinForm {
  display: grid;
  margin-right: 10%;
  margin-left: 10%;
}

.joinButton {
  margin-bottom: 10%;
  margin-left: 10%;
  margin-top: 20px;
}

.joinTitle {
  margin-top: 50px;
}