/* Title */

#pageTitle {
  /* font-size: 600%; */
  text-align: center;
}

/* Navigation */

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 5%;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

.navBar {
  /* font-size: 20px; */
  font-family: var(--heading-font, sans-serif);
  font-weight: 500;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  transition: color 0.3s ease;
}

.navBar:hover::after {
  animation: underline_nav 0.4s ease-in-out forwards;
  width: 100%;
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  transition: width 0.4s ease-in-out;
} 

@keyframes underline_nav {
  from {
    width: 0;
    background-color: var(--dark-color, #0A0129);
    color: var(--black-color, #000);
  }
  to {
    width: 100%;
    background-color: var(--medium-color, #85ABFF);
    color: var(--bright-color, #0041CC);
  }
}

/* Navigation Smooth Scroll to Sections */

#section1 {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 24px; */
}

/* Images */



/* Body sections */

.website-card {
  padding: 20px;
  margin: 20px 0;
}

.attributionsLink {
  display: block;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
}

.changeToggle label {
  text-decoration: transparent;
}

/* filters*/

.filterToggle {
  /* font-size: 20px; */
  font-family: var(--heading-font, sans-serif);
  font-weight: 500;
  text-decoration: none;
  position: relative;
  display: inline-block;
  border: solid;
  padding: 10px 20px;
  transition: color 0.3s ease;
}

#changeToggle {
  font-weight: bold;
  /* font-size: 15px; */
  display: block;
  margin: auto;
  text-align: center;
  width: 60%;
}

#apply-filters {
  display: block;
  margin: auto;
}

#technology-filter {
  font-family: var(--heading-font, sans-serif);
  font-weight: 500;
  text-decoration: none;
  position: relative;
  display: inline-block;
  border: solid;
  padding: 10px 20px;
  transition: color 0.3s ease;
}

.socialButton_about {
  width: 15%;
  border: none;
  padding: 0;
  text-decoration: none;
  border-radius: 30%;
}


/* Color theme changes */

body[data-theme="light"] .filterToggle:hover, 
body[data-theme="light"] #technology-filter:hover, 
body[data-theme="light"] #category-filter:hover {
  background-color: var(--white-color, #FFFFFF);
  border-color: var(--bright-color, #0041CC);
  color: var(--bright-color, #0041CC);
}

body[data-theme="dark"] .filterToggle:hover, 
body[data-theme="dark"] #technology-filter:hover, 
body[data-theme="dark"] #category-filter:hover {
  background-color: var(--dark-color, #0A0129);
  border-color: var(--medium-color, #85ABFF);
  color: var(--medium-color, #85ABFF);
}

body[data-theme="dark"] .filterToggle, 
body[data-theme="dark"] #technology-filter, 
body[data-theme="dark"] #category-filter,
body[data-theme="dark"] .website-card {
  background-color: var(--dark-color, #0A0129);
  border-color: var(--light-color, #E2D9FF);
  color: var(--light-color, #E2D9FF);
}

body[data-theme="light"] .website-card {
  background-color: var(--white-color, #FFFFFF);
  border: 1px solid var(--dark-color, #0A0129);
  color: var(--dark-color, #0A0129);
}

body[data-theme="light"] .filterToggle, 
#technology-filter, 
#category-filter {
  background-color: var(--white-color, #FFFFFF);
  border-color: var(--black-color, #000);
  color: var(--black-color, #000);
}

body[data-theme="light"],
body[data-theme="light"] #pageTitle,
body[data-theme="light"] .navBar
 {
  background-color: var(--white-color, #FFFFFF);
  color: var(--dark-color, #0A0129);
}

body[data-theme="dark"] .attributionsLink {
  background-color: var(--light-color, #E2D9FF);
  color: var(--dark-color, #0A0129);
}

body[data-theme="light"] .navBar:hover {
  background-color: var(--white-color, #FFFFFF);
  color: var(--bright-color, #0041CC);
}

body[data-theme="dark"] .attributionsLink:hover {
  background-color: var(--light-color, #E2D9FF);
  color: var(--bright-color, #0041CC);
}

body[data-theme="dark"],
body[data-theme="dark"] #pageTitle,
body[data-theme="dark"] .navBar,
body[data-theme="light"] .attributionsLink {
  background-color: var(--dark-color, #0A0129);
  color: var(--light-color, #E2D9FF);
}

body[data-theme="dark"] .navBar:hover,
body[data-theme="light"] .attributionsLink:hover  {
  background-color: var(--dark-color, #0A0129);
  color: var(--medium-color, #85ABFF);
}

/* .container {
  max-width: 90%;
  margin: auto;
  padding: 20px;
} */

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.photographer-card {
  padding: 15px;
}

/* .photographer-card:hover {
  transform: translateY(-5px);
}

.photographer-card h3 {
  margin-top: 0;
  font-size: 18px;
}

.photographer-card p {
  margin: 5px 0;
}

.photographer-card p strong {
  font-weight: bold;
} */

.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.image-item img {
  max-width: 300px;
  height: auto;
  border-radius: 8px;
}

img {
  width: 100%;
  height: auto;
}

.container {
  margin: 5%;
}

.search-form {
  max-width: 400px;
  margin: auto;
  height: 40px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.grid-item img {
  object-fit: cover;
  height: 350px;
}

.grid-item .photographer::before {
  font-size: 1.5rem;
}