:root {
  --white-color: #FFFFFF;
  --light-color: #E2D9FF;
  --medium-color: #85ABFF;
  --bright-color: #0041CC;
  --dark-color: #0A0129;
  --black-color: #000;
  --heading-font: Arial, Verdana, sans-serif;
  --paragraph-font: "Trebuchet MS", Tahoma, sans-serif;
}

* {
  margin: 0;
}

html {
  font-size: 16px;
}

header {
  display: block;
  margin: auto;
}

body {
  line-height: 1.6;
}

select {
  padding: 10px;
  width: 48%;
}

img {
  width: 100%;
  height: auto;
}

section {
  margin-bottom: 5%;
}

main {
  text-align: center;
  margin: 5%;
}

h1,
h2,
h3 {
  font-family: var(--heading-font, sans-serif);
  text-align: left;
  margin-bottom: 5%;
  margin-top: 5%;
}

p,
span {
  font-family: var(--paragraph-font, sans-serif);
  margin: 25px;
  text-align: left;
}

footer {
  font-family: var(--heading-font, sans-serif);
}