:root {
  --white-color: #FFFFFF;
  --light-color: #E2D9FF;
  --medium-color: #85ABFF;
  --bright-color: #0041CC;
  --dark-color: #0A0129;
  --black-color: #000;
  --heading-font: Arial, Verdana, sans-serif;
  --paragraph-font: "Trebuchet MS", Tahoma, sans-serif;
}

* {
  margin: 0;
}

html {
  font-size: 16px;
}

header {
  display: block;
  margin: auto;
}

body {
  line-height: 1.6;
}

.socialButton_about {
  width: 15%;
  border: none;
  padding: 0;
  text-decoration: none;
  border-radius: 30%;
}

select {
  padding: 10px;
  font-size: 16px;
  width: 48%;
}

main {
  text-align: center;
  margin: 5%;
}

h1,
h2 {
  font-family: var(--heading-font, sans-serif);
  text-align: left;
  margin: auto;
  font-weight: bold;
}

label {
  font-family: var(--heading-font, sans-serif);
  display: block;
  margin: auto;
}

p,
span {
  font-family: var(--paragraph-font, sans-serif);
  margin: 25px;
  text-align: left;
}

footer {
  font-family: var(--heading-font, sans-serif);
}