@media (min-width: 1200px) {
  p,
  span,
  .footer_text {
    font-size: 18px;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 36px;
  }
}

@media (max-width: 1200px) {
  p,
  span,
  .footer_text {
  font-size: 16px;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  p,
  span,
  .footer_text {
  font-size: 14px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  
  nav ul {
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  nav ul li {
    margin: 10px 0;
  }

  .footer_text {
    font-size: 10%;
  }
}

@media (max-width: 450px) {
  p,
  span,
  .footer_text {
  font-size: 12px;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  #missionStatement {
    font-size: small;
  }
  .navBar {
    font-size: 12px;
  }
}