@media (min-width: 800px) {
  #menu {
    display: none;
  }

  nav {
    display: flex;
    justify-content: center;
    background-color: var(--second-color);
    line-height: 50px;
    padding-top: 1%;
    padding-bottom: 1%;
  }
 
  .heading {
    display: flex; 
    justify-content: space-between; 
  }

  .heading li {
    display: inline-block; 
    margin-right: 20px; 
  }

  .profile {
    width: 15rem;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 50%;
  }

  .container {
    font-size: 40px;
    margin-left: 20%;
  }
}